<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
 Unsplash Demo
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >
    <img
      class="avatar mat-elevation-z8"
      src="https://images.unsplash.com/photo-1555066932-e78dd8fb77bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8/200x200"
    />

    <h4 class="name">Prosper</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <span *ngFor="let data of topics[6]">


          <button mat-button class="menu-button" (click)="getTopic(data.slug)" routerLink="/home">
            <mat-icon>load</mat-icon>
            {{data.title}}
          </button>


    </span>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
